<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Fila Virtual</title>

    <link
        rel="stylesheet"
        href="/static/css/style.css"
    >

</head>

<body>

<div class="container">

    <!-- ========================= -->
    <!-- Tela Inicial -->
    <!-- ========================= -->

    <section id="homeSection">

        <h1>Fila Virtual</h1>

        <p>

            Senha atual:

            <span id="current-ticket">

                --

            </span>

        </p>

        <p>

            Pessoas aguardando:

            <span id="waiting-total">

                --

            </span>

        </p>

        <p>

            Tempo médio:

            <span id="average-time">

                --

            </span>

        </p>

        <button id="btn-enter">

            Entrar na fila

        </button>

    </section>


    <!-- ========================= -->
    <!-- Tela da senha -->
    <!-- ========================= -->

    <section
        id="ticketSection"
        hidden
    >

        <div id="ticketCard"></div>

        <button id="btn-cancel">

            Cancelar senha

        </button>

    </section>

</div>


<!-- ========================= -->
<!-- Modal -->
<!-- ========================= -->

<div
    id="ticket-modal"
    class="modal"
    style="display:none;"
>

    <div class="modal-content">

        <h2>

            Selecione o tipo de atendimento

        </h2>

        <label>

            <input
                type="radio"
                name="ticket-type"
                value="N"
                checked
            >

            Atendimento Normal

        </label>

        <br><br>

        <label>

            <input
                type="radio"
                name="ticket-type"
                value="P"
            >

            Atendimento Preferencial

        </label>

        <br><br>

        <button id="btn-confirm">

            Confirmar

        </button>

        <button id="btn-close-modal">

            Cancelar

        </button>

    </div>

</div>


<script
    type="module"
    src="/static/js/portal/portal.js">
</script>

</body>

</html>